* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.postcard {
    background: url(./img/fon.jpg) no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postcard__content {
    background-color: rgb(170, 128, 234);
    max-width: 500px;
    border-bottom-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 20px;
    text-align: center;
    transition: transform 1s;
    animation: stargrow 5s infinite;
}

.post__content:hover {
    transform: scale(1.05);

}

.star {
    max-width: 150px;
    animation: stargrow 5s infinite;
}

.postcard__title {
    text-transform: uppercase;
    font-family: "Libre Franklin", sans-serif;
    animation: changeColor 3s infinite;
}

.postcard__text {
    text-shadow: 5px 5px 5px;
    font-family: "Libre Franklin", sans-serif;
    line-height: 1.5;
}

.postcard__btn {
    font-family: "Libre Franklin", sans-serif;
    background-color: rgb(242, 242, 82);
    transition: transform 1.5s;
    border-radius: 15px;
    padding: 7px 20px;
    margin: 7px;
    animation: fadein 3s;
}

.postcard__btn:hover {
    background-color: rgb(117, 117, 63);
    cursor: pointer;
    transform: scale(1.1);
}

.soldier {
    max-width: 200px;
    position: absolute;
    bottom: 0;
    right: 50px;
}

.plane {
    max-width: 400px;
    position: absolute;
    top: 10px;
    left: 50px;
}

@keyframes changeColor {
    0% {
        color: yellow;
    }

    20% {
        color: purple;
    }

    40% {
        color: blue;
    }

    60% {
        color: orange;
    }

    80% {
        color: grey;
    }

    100% {
        color: mintcream;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    60% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes stargrow {
    0% 100% {
        scale: 1;
    }

    50% {
        scale: 1.3;
    }
}

.confetti div {
    width: 10px;
    height: 10px;
    background: orange;
    opacity: 0.6;
    position: absolute;
    animation: confettiFall 3s linear infinite;
}

.confetti div:first-child {
    left: 10%;
}

.confetti div:nth-child(2) {
    background-color: aqua;
    left: 30%;
}

.confetti div:nth-child(3) {
    left: 50%;
    animation-delay: 1s;
    background: #2ecc71;
}

.confetti div:nth-child(4) {
    left: 70%;
    animation-delay: 1.5s;
    background: #3498db;
}

.confetti div:nth-child(5) {
    left: 90%;
    animation-delay: 2s;
    background: #9b59b6;
}

@keyframes confettiFall {
    0% {
        transform: translateY(-100%) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(500px) rotate(720deg);
        opacity: 0;
    }
}